@model Movie

<div class="card col-md-8 offset-2">
    <div class="card-body">
        <h5 class="card-title"> Filmin Adı: @Model.Name</h5>
        <p class="card-text"> Yönetmenin Adı : <a asp-action="Detail" asp-controller="Director" asp-route-id="@Model.DirectorId"> @Model.Director.FullName</a></p>
        <p class="card-text">Filmin Çıkış Tarihi: @Model.PublishDate.ToShortDateString()</p>
    </div>

    <ul class="list-group list-group-flush">
        @foreach (var item in Model.MovieActors)
       {
           <li class="list-group-item">
               <a asp-controller="Actor" asp-action="Detail" asp-route-id="@item.ActorId">@item.Actor.FullName</a>
           </li>
       }
    </ul>
</div>